/* Default theme */
html {
  --text-main: black;
  --background-main: white;
  --background-main-gradient: linear-gradient(315deg, white 0%, white 90%, rgb(141, 158, 255) 100%);
}

/* Darkmode */
html.darkmode {
  --text-main: white;
  --background-main: rgb(2,0,36);
  --background-main-gradient: linear-gradient(315deg, black 0%, black 90%, rgba(60,0,100,1) 100%);
}

#darkmode-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
}

html {
  color: var(--text-main);
  background: var(--background-main);
  background: var(--background-main-gradient);

}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_title {
  margin-top: 2em;
}

@keyframes example-movement {
  0% {margin-left: 0;}
  25% {margin-left: 10px;}
  50% {margin-left: 0;}
  75% {margin-left: -10px;}
  100% {margin-left: 0;}
}

.main_example h2 {
  animation: example-movement 1s infinite linear;
}

.main pre {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}

.main ul {
  text-align: left;
}

footer a {
  display: block;
  padding-bottom: 10px;
}

/* Nice Toggle Styles via: https://adrianroselli.com/2019/08/under-engineered-toggles-too.html */
[aria-pressed] {
  display: block;
  box-sizing: border-box;
  border: none;
  color: inherit;
  background: none;
  font: inherit;
  line-height: inherit;
  text-align: left;
  padding: 0;
}

[aria-pressed][disabled],
[aria-pressed][disabled]:hover {
  color: #999;
}

[aria-pressed]:focus,
[aria-pressed]:hover {
  color: #00f;
  outline: none;
}

[aria-pressed]:focus::before,
[aria-pressed]:hover::before {
  box-shadow: 0 0 0.5em yellow;
}

[aria-pressed]:focus::after,
[aria-pressed]:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(0,0,0,.25)'/%3E%3C/svg%3E");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

[aria-pressed]::before,
[aria-pressed]::after {
  content: "";
  position: absolute;
  height: 1.5em;
  transition: all 0.25s ease;
}

[aria-pressed]::before {
  left: 0;
  top: 0.2em;
  width: 3em;
  border: 0.2em solid #767676;
  background: rgb(159, 174, 255);
  border-radius: 1.1em;
}

[aria-pressed]::after {
  left: 0;
  top: 0.25em;
  background-color: yellow;
  background-position: center center;
  border-radius: 50%;
  width: 1.5em;
  border: 0.15em solid #767676;
}

[aria-pressed=true]::after {
  left: 1.6em;
  /* border-color: #36a829;
  color: #36a829; */
  border-color: rgb(255, 250, 206);
  color: rgb(255, 250, 206);
  
  background-color: rgb(255, 250, 206);
}

[aria-pressed=true]::before {
  background-color: black;
  border-color: black;  box-shadow: 0 0 0.5em white;

}

[aria-pressed][disabled]::before {
  background-color: transparent;
  border-color: #ddd;
}

[aria-pressed][disabled]::after {
  border-color: #ddd;
}

[aria-pressed][disabled]:hover {
  color: #999; /* case for CSS custom property if not supporting IE/Edge */
}

[aria-pressed][disabled]:hover::before {
  box-shadow: none;
}

[aria-pressed][disabled]:hover::after {
  background-image: none;
}


/* Windows High Contrast Mode Support */
@media screen and (-ms-high-contrast: active) {
   [aria-pressed]:focus::before,
   [aria-pressed]:hover::before {
    outline: 1px dotted windowText;
    outline-offset: 0.25em;
  }
   [aria-pressed]::after {
    background-color: windowText;
  }
   [aria-pressed][disabled]::after {
    background-color: transparent;
  }
}

/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
   [aria-pressed]::before,
   [aria-pressed]::after {
    transition: none;
  }
}